# Docker Compose environment variables
BACKEND_PORT=8080

# PostgreSQL configuration
POSTGRES_HOST=localhost
POSTGRES_DB=osi_db
POSTGRES_USER=osi_user
POSTGRES_PASSWORD=osi_password
POSTGRES_PORT=5432

#JWT SECRET
JWT_SECRET=qwertyuiopasdfghjklzxcvbnm